/*Primary Colours*/
/*Neutral Colours*/
html,
body {
  height: 100%;
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  background-color: #c5e4e7;
  justify-content: center;
}
@media screen and (min-width: 576px) {
  body {
    align-content: center;
  }
}

header {
  font-size: 24px;
  font-weight: 700;
  color: #5e7a7d;
  padding-top: 25px;
  text-align: center;
}
@media screen and (min-width: 576px) {
  header {
    padding-bottom: 70px;
  }
}
.mainContainer {
  background-color: white;
  display: grid;
  border-radius: 20px;
  padding: 30px;
}
@media screen and (min-width: 576px) {
  .mainContainer {
    grid-template-areas: "leftContainer rightContainer";
    align-content: center;
    gap: 50px;
  }
}
@media screen and (max-width: 575px) {
  .mainContainer {
    grid-template-areas: "leftContainer" "rightContainer";
  }
}

.rlContainers {
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
@media screen and (min-width: 576px) {
  .rlContainers {
    max-height: 415px;
    width: 415px;
  }
}
@media screen and (max-width: 575px) {
  .rlContainers {
    max-width: 375px;
  }
}

/*LEFT CONTAINER AND CONTENTS*/
.leftContainer {
  grid-area: leftContainer;
}
.alltips {
  display: grid;
  gap: 14px;
  height: 110px;
}
@media screen and (min-width: 576px) {
  .alltips {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (max-width: 575px) {
  .alltips {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.tipoptions {
  display: flex;
  background-color: #00494d;
  border-radius: 3px;
  color: white;
  font-weight: 700;
  width: 120px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
}

.tipoptions:hover {
  background-color: #9de9df;
  color: #00494d;
}

#custom {
  display: flex;
  background-color: #f4fafa;
  color: #00494d;
  cursor: pointer;
  width: 97px;
  padding: 0 10px 0 10px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  border-radius: 3px;
  font-family: "Space Mono", monospace;
  border: 3px solid transparent;
}

#custom:focus {
  outline: none;
  border: 3px solid #26c0ab;
  text-align: end;
  padding-right: 10px;
}

#custom:hover {
  background-color: #9de9df !important;
  color: #00494d !important;
}

.display-left {
  display: flex;
  background-color: #f4fafa;
  max-height: 45px;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  border: 3px solid transparent;
}
.display-left input {
  border-style: none;
  text-align: end;
  background-color: transparent;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  color: #00494d;
  font-weight: 700;
  cursor: pointer;
}
.display-left input:focus {
  outline: none;
}
.display-left img {
  height: 18px;
  align-self: center;
}

.display-left:hover,
.display-left:focus-within {
  border: 3px solid #26c0ab;
}

.title-left {
  padding-bottom: 10px;
  padding-top: 45px;
  font-weight: 700;
  color: #5e7a7d;
}

/*RIGHT CONTAINER AND CONTENTS*/
.rightContainer {
  grid-area: rightContainer;
  background-color: #00494d;
}
@media screen and (min-width: 576px) {
  .rightContainer {
    padding: 40px;
    gap: 35px;
  }
}
@media screen and (max-width: 575px) {
  .rightContainer {
    padding: 25px;
  }
}

.total-per-person {
  display: flex;
  justify-content: space-between;
}

.total-per-person-print {
  align-self: center;
}

.tip-per-person {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 576px) {
  .tip-per-person {
    padding-bottom: 50px;
  }
}

.tip-per-person-print {
  align-self: center;
}

#reset {
  height: 50px;
  background-color: #0d686d;
  border-radius: 7px;
  color: #00494d;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
  filter: blur(1px);
}
@media screen and (min-width: 576px) {
  #reset {
    margin-top: 60px;
    cursor: pointer;
  }
}

#reset:hover {
  background-color: #9de9df;
  color: #00494d;
  filter: blur(0px);
}

.title-right {
  color: white;
  font-weight: 700;
}

.subtitle {
  color: #7f9c9f;
  font-weight: 700;
}

.display-right {
  display: relative;
  color: #26c0ab;
  font-size: 45px;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
