/*Primary Colours*/
/*Neutral Colours*/
html,
body {
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 576px) {
  html,
body {
    height: 100%;
  }
}

body {
 display:flex;
  background-color: #c5e4e7;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header {
  font-size: 24px;
  font-weight: 700;
  color: #5e7a7d;
  text-align: center;
}
@media screen and (min-width: 576px) {
  header {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 575px) {
  header {
    padding: 1em;
  }
}

.mainContainer {
  background-color: white;
  display: grid;
  border-radius: 20px;
}
@media screen and (min-width: 576px) {
  .mainContainer {
    grid-template-areas: "leftContainer rightContainer";
    padding: 30px;
    gap: 50px;
    height:435px;
    width:880px;
  }
}
@media screen and (max-width: 575px) {
  .mainContainer {
    grid-template-areas: "leftContainer" "rightContainer";
    padding: 15px 30px 30px 30px;
  }
}

.rlContainers {
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 576px) {
  .rlContainers {
    height: 100%;
    width: 415px;
  }
}
@media screen and (max-width: 575px) {
  .rlContainers {
    max-width: 375px;
  }
}

/*LEFT CONTAINER AND CONTENTS*/
.leftContainer {
  grid-area: leftContainer;
  height: 100%;
  margin-bottom: 20px;
}
.alltips {
  display: grid;
  gap: 14px;
}
@media screen and (min-width: 576px) {
  .alltips {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 110px;
  }
}
@media screen and (max-width: 575px) {
  .alltips {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.tipoptions {
  display: flex;
  background-color: #00494d;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  width: 120px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}
@media screen and (max-width: 575px) {
  .tipoptions {
    padding: 5px 15px 5px 15px;
  }
}

.tipoptions:hover {
  background-color: #9de9df;
  color: #00494d;
}

#custom {
  display: flex;
  background-color: #f4fafa;
  color: #00494d;
  cursor: pointer;
  width: 97px;
  padding: 0 10px 0 10px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  font-family: "Space Mono", monospace;
  border: 3px solid transparent;
}
@media screen and (max-width: 575px) {
  #custom {
    width: 124px;
  }
}

#custom:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px #26c0ab;
  text-align: end;
  padding-right: 10px;
  background: #f4fafa !important;
  color: #00494d !important;
}

#custom:hover {
  box-shadow: 0px 0px 0px 3px #26c0ab !important;
  color: #00494d !important;
  background: #f4fafa !important;
}

.display-left {
  display: flex;
  background-color: #f4fafa;
  max-height: 45px;
  border-radius: 7px;
  padding: 10px 10px 10px 10px;
}
.display-left input {
  border-style: none;
  text-align: end;
  background-color: transparent;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  color: #00494d;
  font-weight: 700;
  cursor: pointer;
}
.display-left input:focus {
  outline: none;
}
.display-left img {
  height: 18px;
  align-self: center;
}

.display-left:hover,
.display-left:focus-within {
  box-shadow: 0px 0px 0px 3px #26c0ab;
}

.title-left {
  padding-bottom: 10px;
  padding-top: 20px;
  font-weight: 700;
  color: #5e7a7d;
}

#bottom-display-left {
  margin-bottom: 20px;
}

.numofpeopletitle {
  display: flex;
  justify-content: space-between;
}

#nozero {
  color: red;
  display: none;
}

/*RIGHT CONTAINER AND CONTENTS*/
.rightContainer {
  grid-area: rightContainer;
  background-color: #00494d;
}
@media screen and (max-width: 575px) {
  .rightContainer {
    padding: 25px;
    justify-content: start;
    height: 230px;
  }
}

@media screen and (min-width: 576px) {
  .both-per-persons {
    padding: 35px;
  }
}

.total-per-person {
  display: flex;
  justify-content: space-between;
}

.total-per-person-print {
  align-self: center;
}

.tip-per-person {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 576px) {
  .tip-per-person {
    margin-bottom: 20px;
  }
}

.tip-per-person-print {
  align-self: center;
}

.title-right {
  color: white;
  font-weight: 700;
}

.subtitle {
  color: #7f9c9f;
  font-weight: 700;
}

.display-right {
  color: #26c0ab;
  font-size: 45px;
  font-weight: 700;
}

#reset {
  height: 50px;
  background-color: #0d686d;
  border-radius: 7px;
  color: #00494d;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
  filter: blur(1px);
}
@media screen and (min-width: 576px) {
  #reset {
    margin-top: 60px;
    cursor: pointer;
    margin: 30px;
  }
}
@media screen and (max-width: 575px) {
  #reset {
    margin-top: 20px;
  }
}

#reset:hover {
  background-color: #9de9df;
  color: #00494d;
  filter: blur(0px);
}

.attribution {
  padding-top: 1em;
}

/*# sourceMappingURL=style.css.map */
