/*Primary Colours*/
$strong-cyan: hsl(172, 67%, 45%);
/*Neutral Colours*/
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan1: hsl(186, 14%, 43%);
$dark-grayish-cyan2: hsl(184, 14%, 56%);
$light-grayish-cyan2: hsl(185, 41%, 84%);
$light-grayish-cyan1: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$resetdefault: #0d686d;
$hover-blue: #9de9df;

html,
body {
  
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
  @media screen and (min-width: 576px) {
    height: 100%;
  }
}

body {
  display: grid;
  background-color: $light-grayish-cyan2;
  justify-content: center;
  @media screen and (min-width: 576px) {
    align-content: center;
  }
}
//HEADER
header {
  font-size: 24px;
  font-weight: 700;
  color: $dark-grayish-cyan1;
  text-align: center;

  @media screen and (min-width: 576px) {
    padding-bottom: 60px;
      
  }

  @media screen and (max-width: 575px) {
   padding:1em;
  }
}
//MAIN CONTAINER
.mainContainer {
  background-color: $white;
  display: grid;
  border-radius: 20px;
  

  @media screen and (min-width: 576px) {
    grid-template-areas: "leftContainer rightContainer";
    
    padding: 30px;
    gap: 50px;
  }

  @media screen and (max-width: 575px) {
    grid-template-areas: "leftContainer" "rightContainer";
    padding:15px 30px 30px 30px
  }
}
.rlContainers {
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media screen and (min-width: 576px) {
    height: 100%;
    width: 415px;
  }
  @media screen and (max-width: 575px) {
    max-width: 375px;
  }
}

/*LEFT CONTAINER AND CONTENTS*/

.leftContainer {
  grid-area: leftContainer;
  height: 100%;
  margin-bottom: 20px;

  @media screen and (max-width: 575px) {
  }
}
.alltips {
  display: grid;
  gap: 14px;
 
  @media screen and (min-width: 576px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 110px;
  }
  @media screen and (max-width: 575px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

//TIPS
.tipoptions {
  display: flex;
  background-color: $very-dark-cyan;
  border-radius: 5px;
  color: $white;
  font-weight: 700;
  width: 120px;
 align-items: center;
  justify-content: center;
 font-size: 24px;
  cursor: pointer;

  @media screen and (max-width: 575px) {
  padding:5px 15px 5px 15px;
  }
}

.tipoptions:hover {
  background-color: $hover-blue;
  color: $very-dark-cyan;
}

#custom {
  display: flex;
  background-color: $light-grayish-cyan1;
  color: $very-dark-cyan;
  cursor: pointer;
  width: 97px;
  padding: 0 10px 0 10px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;

  font-family: "Space Mono", monospace;

  border: 3px solid transparent;
  @media screen and (max-width: 575px) {
    width:124px
    }

}

#custom:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px $strong-cyan;
  text-align: end;
  padding-right: 10px;
  background: $light-grayish-cyan1!important;
  color: $very-dark-cyan !important;
}
#custom:hover {
  box-shadow: 0px 0px 0px 3px $strong-cyan !important;
  color: $very-dark-cyan !important;
  background: $light-grayish-cyan1!important;
}

//BILL AND #OF PEOPLE INPUTS 

.display-left {
  display: flex;
 
  background-color: $light-grayish-cyan1;
  max-height: 45px;
  border-radius: 7px;
  padding: 10px 10px 10px 10px;
 

  input {
    border-style: none;
    text-align: end;
    background-color: transparent;
    width: 100%;
    font-family: "Space Mono", monospace;
    font-size: 24px;
    color: $very-dark-cyan;
    font-weight: 700;
    cursor: pointer;
  }
  input:focus {
    outline: none;
  }

  img {
    height: 18px;
    align-self: center;
  }
}
.display-left:hover,
.display-left:focus-within {
  box-shadow: 0px 0px 0px 3px $strong-cyan;
}



.title-left {
  padding-bottom: 10px;
  padding-top: 20px;
  font-weight: 700;
  color: $dark-grayish-cyan1;
}
#bottom-display-left {
  margin-bottom: 20px;
}

.numofpeopletitle{
  display:flex;
  justify-content: space-between;
  
}

//HIDDEN TITLE

#nozero{
  color:red;
  display:none;
}

/*RIGHT CONTAINER AND CONTENTS*/

.rightContainer {
  grid-area: rightContainer;

  background-color: $very-dark-cyan;

 
  @media screen and (max-width: 575px) {
    padding: 25px;
    justify-content: start;
    height: 230px;
  }
}
//TOTAL PER PERSON /TIP PER PERSON

.both-per-persons {
  @media screen and (min-width: 576px) {
    padding: 35px;
  }
}

.total-per-person {
  display: flex;
  justify-content: space-between;
}
.total-per-person-print {
  align-self: center;
}

.tip-per-person {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 576px) {
    margin-bottom: 20px;
  }
}
.tip-per-person-print {
  align-self: center;
}
.title-right {
  color: $white;
  font-weight: 700;
}

.subtitle {
  color: $dark-grayish-cyan2;
  font-weight: 700;
}

.display-right {
  color: $strong-cyan;
  font-size: 45px;
  font-weight: 700;
}


//RESET BUTTON

#reset {
  height: 50px;
  background-color: $resetdefault;
  border-radius: 7px;

  color: $very-dark-cyan;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
  filter: blur(1px);
  @media screen and (min-width: 576px) {
    margin-top: 60px;
   
    cursor: pointer;
    margin: 30px;
  }
  @media screen and (max-width: 575px) {
    margin-top: 20px;
  }
}

#reset:hover {
  background-color: $hover-blue;
  color: $very-dark-cyan;
  filter: blur(0px);
}

//ATTRIBUTION
.attribution{
  padding-top:1em;
  @media screen and (min-width: 576px) {
    margin-bottom:100px;
}}